{% extends 'base.html' %}
{% block title %}Third set{% endblock %}
{% block content %}
{% if project.developer.id == user.id or user.is_nhs%}

<div class="container">
  <div class="row" style="background-color: ">
    <div class="mt-4 offset-md-2 col-md-8 text-center">
      <h4>You are viewing the answers to:</h4>
            <h2>Data Use</h2>
    </div>
    <div class="mt-2 offset-md-0 col-md-12 text-center">

    </div>
  </div>
</div>


<div class="container">
  <div class="row" style="background-color: ">
    <div class="mt-4 offset-md-0 col-md-8">
            <h2>Data Use</h2>
    </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5>Is data gathered in the solution solely used for the purpose for which it is gathered?</h5>
          <p class="card-text"><small class="text-muted">{{project.thirdquestion.third_one}}</small></p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5>What data is gathered?</h5>
          <p class="card-text"><small class="text-muted">{{project.thirdquestion.third_two}}</small></p>
        </div>
      </div>
            <div class="col-md-8">
        <div class="card-body">
          <h5>What insights are created via the data?</h5>
          <p class="card-text"><small class="text-muted">{{project.thirdquestion.third_three}}</small></p>
        </div>
      </div>
            <div class="col-md-8">
        <div class="card-body">
          <h5>Does the solution create data or insights that are used by third parties?</h5>
          <p class="card-text"><small class="text-muted">{{project.thirdquestion.third_four}}</small></p>
        </div>
      </div>
            <div class="col-md-8">
        <div class="card-body">
          <h5>If third parties are involved, who are they?</h5>
          <p class="card-text"><small class="text-muted">{{project.thirdquestion.third_five}}</small></p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5>If third parties are involved, state organisation name, post and email address below, else leave blank:</h5>
          <p class="card-text"><small class="text-muted">{{project.thirdquestion.third_six}}</small></p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5>Under which terms does your data acquisition and data sharing take place? Upload, terms here:</h5>
          {% if project.thirdquestion.third_seven != "There-is-no-file" and project.thirdquestion.third_seven%}
          <a href="{{ MEDIA_URL }}{{project.thirdquestion.third_seven.url}}">See your uploaded PDF</a>
          {% endif %}
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5>What data do you need to maintain your solutions model</h5>
          <p class="card-text"><small class="text-muted">{{project.thirdquestion.third_eight}}</small></p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5>Under which terms is the data acquired?</h5>
          <p class="card-text"><small class="text-muted">{{project.thirdquestion.third_nine}}</small></p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5>Upload your data flow diagram here:</h5>
          {% if project.thirdquestion.third_ten != "There-is-no-file" and project.thirdquestion.third_ten%}
          <a href="{{ MEDIA_URL }}{{project.thirdquestion.third_ten.url}}">See your uploaded PDF</a>
          {% endif %}
        </div>
      </div>
{% if project.developer.id == user.id %}

    <a href="{% url 'thirdquestionsedit' project.id %}" class="btn btn-primary btn-block"> Edit Data Use questions</a>
{% endif %}

{%else%}

<div class="container">
  <div class="row" style="background-color: red">
    <div class="mt-4 offset-md-2 col-md-8 text-center">
      <h5>You are NOT allowed to edit/view this project because it does not belong to you but it was created by a different user</h5>
    </div>
    <div class="mt-2 offset-md-0 col-md-12 text-center">

    <a class="btn btn-primary" href="{% url 'allprojects' %}">My projects</a>
    </div>
  </div>
</div>

  {% endif %}
  </div>
</div>
{% endblock %}


