{% extends 'base.html' %}
{% block title %}Seventh set{% endblock %}
{% block content %}
{% if project.developer.id == user.id or user.is_nhs %}

<div class="container">
  <div class="row" style="background-color: ">
    <div class="mt-4 offset-md-2 col-md-8 text-center">
      <h4>You are viewing the answers to:</h4>
            <h2>Explainability and Ethical use</h2>
    </div>
    <div class="mt-2 offset-md-0 col-md-12 text-center">
    </div>
  </div>
</div>
<div class="container">
  <div class="row" style="background-color: ">
    <div class="mt-4 offset-md-0 col-md-8">
    <h2>Explainability and Ethical use</h2>
    </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5>Upload details which will enable a member of the general public to understand how the solution delivers benefits:</h5>
          {% if project.seventhquestion.seventh_one != "There-is-no-file" and project.seventhquestion.seventh_one %}
            <a href="{{ MEDIA_URL }}{{project.seventhquestion.seventh_one.url}}">See your uploaded PDF</a>
          {% endif %}
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5>Upload the dependencies which effect how your solution may perform:</h5>
          {% if project.seventhquestion.seventh_two != "There-is-no-file" and project.seventhquestion.seventh_two %}
            <a href="{{ MEDIA_URL }}{{project.seventhquestion.seventh_two.url}}">See your uploaded PDF</a>
          {% endif %}
        </div>
      </div>
            <div class="col-md-8">
        <div class="card-body">
          <h5>Which user groups have you tested your approach with?</h5>
          {% if project.seventhquestion.seventh_three != "There-is-no-file" and project.seventhquestion.seventh_three %}
            <a href="{{ MEDIA_URL }}{{project.seventhquestion.seventh_three.url}}">See your uploaded PDF</a>
          {% endif %}
        </div>
      </div>
            <div class="col-md-8">
        <div class="card-body">
          <h5>Describe how your solution effects the ethical delivery of healthcare at an individual/group/social level</h5>
          {% if project.seventhquestion.seventh_four != "There-is-no-file" and project.seventhquestion.seventh_four%}
            <a href="{{ MEDIA_URL }}{{project.seventhquestion.seventh_four.url}}">See your uploaded PDF</a>
          {% endif %}
        </div>
      </div>
            <div class="col-md-8">
        <div class="card-body">
          <h5>Is your solution auditable?</h5>
          <p class="card-text"><small class="text-muted">{{project.seventhquestion.seventh_five}}</small></p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5>If yes, how? Else leave blank</h5>
          <p class="card-text"><small class="text-muted">{{project.seventhquestion.seventh_six}}</small></p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5>To which group of users is a bias over 20% evidenced?</h5>
          <p class="card-text"><small class="text-muted">{{project.seventhquestion.seventh_seven}}</small></p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5>For the users in this group, which steps have you taken to mitigate the bias?</h5>
          <p class="card-text"><small class="text-muted">{{project.seventhquestion.seventh_eight}}</small></p>
        </div>
      </div>
{% if project.developer.id == user.id %}

    <a href="{% url 'seventhquestionsedit' project.id %}" class="btn btn-primary btn-block"> Edit Explainability and Ethical use questions</a>
{%endif%}

{%else%}

<div class="container">
  <div class="row" style="background-color: red">
    <div class="mt-4 offset-md-2 col-md-8 text-center">
      <h5>You are NOT allowed to edit/view this project because it does not belong to you but it was created by a different user</h5>
    </div>
    <div class="mt-2 offset-md-0 col-md-12 text-center">

    <a class="btn btn-primary" href="{% url 'allprojects' %}">My projects</a>
    </div>
  </div>
</div>

  {% endif %}

  </div>
</div>

{% endblock %}

